.buscador{
    width: 100%;
    margin: auto;
}

.boton{
    background-color: rgb(55, 129, 86);
    color: white;
}

@media only screen and (min-width: 900px) {
    .buscador{
        width: 50%;
    }
    .boton{
        background-color: white;
        color: black;
        outline: rgb(55, 129, 86) solid 0.1rem;
    }
    
    .boton:hover{
        background-color: rgb(55, 129, 86);
        color: white;
    }
}