<div class="container">
    <section class="mt-3">
        <h1 class="text-center">Bienvenidos a mi Pagina de Gifs y Stickers</h1>
        <p>Esta pagina es para mostrar cuales son los Stickers y Gifs mas populares del momento.</p>
    </section>
      <hr>
    <div class="row gap-3 justify-content-center mb-5">
      <div class="col-12 col-md-5 card text-center p-3">
        <img src="https://media.giphy.com/media/scZPhLqaVOM1qG4lT9/giphy.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gifs</h5>
          <a [routerLink]="['gifs']" class="btn boton">Ver Mas...</a>
        </div>
      </div>
      <div class="col-12 col-md-5 card text-center p-3">
        <img src="https://media.giphy.com/media/5eLDrEaRGHegx2FeF2/giphy.gif" class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title">Stickers</h5>
          <a [routerLink]="['stickers']" class="btn boton">Ver Mas...</a>
        </div>
      </div>
    </div>
</div>
